* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: Raleway;
  font-size: 18px;
  color: black;
  background-color: white;
}
.wrapper {
  max-width: 1366px;
  margin: auto;
}
.tophead {
  display: flex;
  width: 100%;
  height: 100px;
}
.logo {
  width: 55%;
  margin-top: 20px;
}
.new-nav {
  display: flex;
  width: 100%;
}
.new-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.new-nav ul li {
  float: left;
  vertical-align: baseline;
}
.new-nav ul li a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 1.5rem 3rem;
}
.new-nav ul li.active a {
  color: #0065fc;
  border-top: #0065fc 2px solid;
}
.new-nav ul li:hover a {
  color: #deebff;
}
.new-nav ul .signup a {
  color: #0065fc;
  font-weight: 600;
}
.searchbox {
  width: 100%;
  height: auto;
}
.searchbox span {
  font-weight: 600;
}

.contentsearchbox {
  display: inline-flex;
  width: 25rem;
}
.iconsearch {
  background: #f2f2f2;
  width: 50px;
  padding: 3px;
  border-radius: 10px 0 0 10px;
  text-align: center;
}
.iconsearch i {
  color: black;
  font-size: 18px;
  padding: 10px;
  text-align: center;
}
.inputsearch {
  font-size: 16px;
  font-weight: 600;
  width: 14rem;
  height: 3.1rem;
  padding-left: 0.25rem;
  border: 1px solid #f2f2f2;
  border-left: none;
}
.btnsearch {
  background: #0065fc;
  font-size: 14px;
  width: 5rem;
  height: 3.1rem;
  padding: 3px;
  border-radius: 0 10px 10px 0;
  text-align: center;
  border: none;
  color: white;
  font-weight: 600;
}
.btnsearch i {
  display: none;
}
.btnsearch:hover {
  background: #deebff;
  cursor: pointer;
}
.filtersbox {
  display: inline-flex;
  width: 100%;
  height: 60px;
  margin-top: 30px;
}
.contentfiltersbox {
  display: inline-flex;
  width: 100%;
  height: 60px;
}
.filtersbox .text {
  font-size: 1rem;
  margin: auto;
  padding: 0;
}
.filters {
  border: none;
  margin: 0;
  margin-left: 0.75rem;
  padding: 0;
  background: none;
}
.filters:hover i {
  color: #deebff;
  background: #0065fc;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.filters:hover span {
  background-color: #e8f0fb;
  cursor: pointer;
  opacity: 20%;
  transition-delay: 0.15s;
}
.filters i {
  font-size: 17px;
  background: #deebff;
  border-radius: 50%;
  color: #0065fc;
  padding: 15px;
  margin-right: -23px;
  border: #deebff 1px solid;
}

.filters:nth-child(1) i {
  padding: 15px 13px;
}
.filters:nth-child(2) i {
  padding: 15px 17px;
}
.filters span {
  border: 2px solid lightgray;
  border-left: none;
  border-radius: 0 35px 35px 0;
  padding: 12px 20px 11px 27px;
  font-weight: 600;
  white-space: nowrap;
}
.info {
  display: flex;
  width: 100%;
  margin-top: 1rem;
}
.info .icon-container {
  display: inline-flex;
  margin-right: 10px;
  padding: 2px 0 0 7px;
  width: 21px;
  height: 21px;
  border: #f2f2f2 2px solid;
  border-radius: 50%;
}
.info i {
  font-size: 11px;
  color: #0065fc;
}
.info p {
  width: 450px;
  margin-top: 0px;
}
.content {
  display: flex;
  width: 100%;
}
.accommodations {
  width: 70%;
  height: auto;
  padding: 10px 10px 10px 10px;
  border-radius: 25px;
  background-color: #f2f2f2;
  margin-right: 50px;
}
.accommodations h3 {
  margin-left: 10px;
}
.accommodations a {
  display: contents;
  text-decoration: none;
  color: #000000;
  padding: 0;
  margin: 0;
}
.accommodations .card-container {
  display: flex;
  flex-wrap: wrap;
}
.accommodations .card-container .card {
  width: 30%;
  padding: 5px;
  background-color: white;
  margin: 5px 14px 22px 15px;
  border-radius: 25px;
  box-shadow: lightgray 0 4px 4px 0;
}
.imagebox {
  display: flex;
  height: 125px;
  object-fit: cover;
}
.acc-img {
  width: 100%;
  border-radius: 25px 25px 0 0;
}
.description {
  margin: 0 0 0 10px;
}
.hotel-name {
  margin-bottom: 0;
  margin-top: 7px;
}
.price {
  margin: 8px 0 8px 0;
}
.price span {
  font-weight: 600;
}
.rating {
  margin-bottom: 7px;
}
.accomodations-button {
  display: flex;
  width: 100%;
}
.show-more {
  font-size: 1.1em;
  border-width: 0;
  border-style: none;
  font-weight: 600;
  margin: 20px 0 20px 15px;
  cursor: pointer;
}
.most-popular {
  width: 30%;
  height: auto;
  padding: 10px 10px 10px 10px;
  border-radius: 25px;
  background-color: #f2f2f2;
}
.most-popular a {
  text-decoration: none;
  color: black;
}
.most-popular-header {
  display: flex;
}
.most-popular-header h3 {
  width: 100%;
  margin-left: 10px;
}
.most-popular-header i {
  width: 20%;
  margin: 1em 0 1em 7em;
  color: black;
}
.most-popular .card-container {
  display: flex;
  flex-wrap: wrap;
}
.most-popular .card-container .card {
  display: flex;
  width: 90%;
  height: 160px;
  padding: 5px;
  margin: 0 15px 30px 18px;
  background: white;
  border-radius: 25px;
  box-shadow: lightgray 0 4px 4px 0;
}
.most-popular .card .imagebox {
  height: 140px;
  width: 35%;
}
.most-popular .card .imagebox .pop-img {
  border-radius: 25px 0 0 25px;
}
.most-popular .card .description {
  width: 60%;
}
.most-popular .card .description .hotel-name,
.most-popular .card .description .price {
  height: 35%;
  display: table;
}
.fa-star {
  color: #d8d8d8;
}
.checked {
  color: #0065fc;
}
.pop-img {
  width: 100%;
  border-radius: 25px 25px 0 0;
  height: 150px;
  object-fit: cover;
}
.activities {
  display: inline-block;
  margin-top: 50px;
}
.activitiescontainer {
  display: flex;
  flex-wrap: wrap;
}
.activities a {
  text-decoration: none;
  color: black;
}
.activitiescontainer .card {
  width: 310px;
  height: 470px;
  margin-right: 40px;
  border-radius: 25px 25px 25px 25px;
  box-shadow: lightgrey 0 4px 4px 0;
}
.activitiescontainer .card .imagebox {
  display: flex;
  height: 90.5%;
}
.activitiescontainer .card .imagebox .actv-img {
  width: 100%;
  border-radius: 25px 25px 0 0;
  object-fit: cover;
}
.activitiescontainer .card .description .hotel-name {
  margin: 10px 0 10px 20px;
}
.mixed {
  margin: 0 40px 30px 0;
  padding-bottom: 60px;
}
.mixedtwo {
  margin: 0 0px 30px 0;
  padding-bottom: 60px;
}
.mixed .card1,
.mixed .card2 {
  width: 310px;
  border-radius: 25px 25px 25px 25px;
  box-shadow: lightgrey 0 4px 4px 0;
}
.mixed .card1 .imagebox .actv-img,
.mixed .card2 .imagebox .actv-img {
  width: 310px;
  border-radius: 25px 25px 0 0;
  object-fit: cover;
}
.mixed .card1 {
  height: 260px;
  margin-bottom: 35px;
}
.mixed .card1 .imagebox {
  height: 215px;
}
.mixed .card2 {
  height: 175px;
}
.mixed .card2 .imagebox {
  height: 130px;
}
.mixed .card1 .description .hotel-name,
.mixed .card2 .description .hotel-name {
  margin: 10px 10px 0 20px;
}
.mixedtwo .card1,
.mixedtwo .card2 {
  width: 310px;
  border-radius: 25px 25px 25px 25px;
  box-shadow: lightgrey 0 4px 4px 0;
}
.mixedtwo .card1 .imagebox .actv-img,
.mixedtwo .card2 .imagebox .actv-img {
  width: 310px;
  border-radius: 25px 25px 0 0;
  object-fit: cover;
}
.mixedtwo .card1 {
  height: 190px;
  margin-bottom: 40px;
}
.mixedtwo .card1 .imagebox {
  height: 150px;
}
.mixedtwo .card2 {
  height: 240px;
}
.mixedtwo .card2 .imagebox {
  height: 195px;
}
.mixedtwo .card1 .description .hotel-name,
.mixedtwo .card2 .description .hotel-name {
  margin: 10px 10px 0 20px;
}
footer {
  width: 100%;
  height: 175px;
  background: #f2f2f2;
}
.footerbox {
  display: flex;
  width: 100%;
  padding-left: 20px;
  padding-top: 20px;
}
footer ul {
  margin: 0;
  padding: 0;
}
footer li {
  list-style-type: none;
}
footer a {
  text-decoration: none;
  color: black;
}
.about {
  width: 30%;
  height: 70px;
}
.our {
  width: 30%;
  height: 70px;
}
.assistance {
  width: 30%;
  height: 70px;
}

/* Media Query for  769px < 1024px  */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .wrapper {
    width: 100%;
    max-width: 1024px;
    min-width: 769px;
  }
  .tophead {
    height: 150px;
    flex-wrap: wrap;
  }
  .logo {
    width: 50%;
  }
  .signup {
    width: 30%;
    margin-top: 28px;
    text-align: right;
    font-weight: normal;
  }
  .signup a,
  .signup a:visited {
    text-decoration: none;
    color: #0065fc !important;
  }
  .new-nav {
    width: 100%;
  }
  .new-nav ul {
    display: flex;
    flex-wrap: wrap;
  }
  .new-nav ul li {
    width: 50%;
    height: auto;
    padding-left: 0;
    text-align: center;
    border-bottom: #f2f2f2 3px solid;
    margin-left: 0;
  }
  .new-nav ul li a {
    padding: 1.5rem 1rem;
  }
  .new-nav ul li:nth-child(1) {
    order: 1;
    border-bottom: none;
  }
  .new-nav ul li:nth-child(2) {
    order: 3;
  }
  .new-nav ul li:nth-child(3) {
    order: 4;
  }
  .new-nav ul li:nth-child(4) {
    order: 2;
    border-bottom: none;
  }
  .new-nav ul li:nth-child(4) a {
    border-bottom: none;
  }
  .new-nav ul li a {
    padding-top: 0;
  }
  .new-nav ul li.active {
    padding-top: 0;
    border-bottom: #0065fc 3px solid;
    font-weight: 600;
  }
  .new-nav ul li.active a {
    color: #0065fc;
    border: none;
  }
  .content {
    flex-direction: column-reverse;
  }
  .searchbox {
    padding: 0;
    height: auto;
  }
  .searchbox p {
    padding-left: 1rem;
    width: 98%;
  }
  .searchbox .info p {
    padding-left: 0;
  }
  .inputsearch {
    width: 100%;
  }
  .btnsearch {
    width: 70px;
    border-radius: 10px;
  }
  .btnsearch i {
    font-size: 1.2rem;
    display: block;
  }
  .btnsearch span {
    display: none;
  }
  .iconsearch {
    width: 70px;
  }
  .contentsearchbox {
    width: 95%;
    padding-left: 1rem;
  }
  .contentfiltersbox {
    display: flex;
    flex-wrap: wrap;
  }
  .contentfiltersbox .filters {
    margin-left: 17px;
    margin-bottom: 17px;
  }
  .contentfiltersbox .filters:nth-child(1) {
    order: 1;
  }
  .contentfiltersbox .filters:nth-child(2) {
    order: 3;
  }
  .contentfiltersbox .filters:nth-child(3) {
    order: 1;
  }
  .contentfiltersbox .filters:nth-child(4) {
    order: 4;
  }
  .filtersbox {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
  }
  .info {
    width: 95%;
    margin-left: 17px;
    margin-top: 12rem;
  }
  .info .icon-container {
    padding: 2px 4px 2px 5px;
  }
  .info p br {
    display: none;
  }
  .filtersbox .text {
    margin: 17px;
  }
  .accommodations {
    width: 100%;
    background: none;
  }
  .accommodations .card-container .card {
    width: 100%;
  }
  .show-more {
    background: none;
  }
  .most-popular {
    width: 100%;
    border-radius: 0;
  }
  .most-popular .card-container .card {
    width: 95%;
    margin: 0 0 30px 8px;
  }
  .activities {
    padding: 23px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  .activitiescontainer .card {
    width: 100%;
    margin-bottom: 30px;
    height: auto;
    padding-bottom: 10px;
  }
  .activitiescontainer .card .imagebox {
    height: 11rem;
  }
  .mixed,
  .mixedtwo {
    width: 100%;
    margin: 0;
    padding-bottom: 30px;
  }
  .mixed .card1,
  .mixed .card2 {
    width: 100%;
    height: auto;
  }
  .mixed .card1 .imagebox,
  .mixed .card2 .imagebox {
    height: 11rem;
  }
  .mixed .card1 .description .hotel-name,
  .mixed .card2 .description .hotel-name,
  .mixedtwo .card1 .description .hotel-name,
  .mixedtwo .card2 .description .hotel-name {
    padding-bottom: 25px;
  }

  .mixedtwo .card1,
  .mixedtwo .card2 {
    width: 100%;
    height: auto;
  }
  .mixedtwo .card1 .imagebox,
  .mixedtwo .card2 .imagebox {
    height: 11rem;
  }
  .mixed .card1 .imagebox .actv-img,
  .mixed .card2 .imagebox .actv-img {
    width: 100%;
  }
  .mixedtwo .card1 .imagebox .actv-img,
  .mixedtwo .card2 .imagebox .actv-img {
    width: 100%;
  }
  footer {
    height: auto;
  }
  .footerbox {
    flex-wrap: wrap;
    padding-bottom: 30px;
    padding-top: 0;
  }
  .footerbox .about,
  .footerbox .our,
  .footerbox .assistance {
    width: 100%;
    height: auto;
    padding: 10px;
  }
}
/* Media Query for  481px < 768px  */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .wrapper {
    width: 100%;
    max-width: 768px;
    min-width: 481px;
  }
  .tophead {
    height: 150px;
    flex-wrap: wrap;
  }
  .logo {
    width: 50%;
  }
  .signup {
    width: 30%;
    margin-top: 28px;
    text-align: right;
    font-weight: normal;
  }
  .signup a,
  .signup a:visited {
    text-decoration: none;
    color: #0065fc !important;
  }
  .new-nav {
    width: 100%;
  }
  .new-nav ul {
    display: flex;
    flex-wrap: wrap;
  }
  .new-nav ul li {
    width: 50%;
    height: auto;
    padding-left: 0;
    text-align: center;
    border-bottom: #f2f2f2 3px solid;
    margin-left: 0;
  }
  .new-nav ul li a {
    padding: 1.5rem 1rem;
  }
  .new-nav ul li:nth-child(1) {
    order: 1;
    border-bottom: none;
  }
  .new-nav ul li:nth-child(2) {
    order: 3;
  }
  .new-nav ul li:nth-child(3) {
    order: 4;
  }
  .new-nav ul li:nth-child(4) {
    order: 2;
    border-bottom: none;
  }
  .new-nav ul li:nth-child(4) a {
    border-bottom: none;
  }
  .new-nav ul li a {
    padding-top: 0;
  }
  .new-nav ul li.active {
    padding-top: 0;
    border-bottom: #0065fc 3px solid;
    font-weight: 600;
  }
  .new-nav ul li.active a {
    color: #0065fc;
    border: none;
  }
  .content {
    flex-direction: column-reverse;
  }
  .searchbox {
    padding: 0;
    height: auto;
  }
  .searchbox p {
    padding-left: 1rem;
    width: 98%;
  }
  .searchbox .info p {
    padding-left: 0;
  }
  .inputsearch {
    width: 100%;
  }
  .btnsearch {
    width: 70px;
    border-radius: 10px;
  }
  .btnsearch i {
    font-size: 1.2rem;
    display: block;
  }
  .btnsearch span {
    display: none;
  }
  .iconsearch {
    width: 70px;
  }
  .contentsearchbox {
    width: 95%;
    padding-left: 1rem;
  }
  .contentfiltersbox {
    display: flex;
    flex-wrap: wrap;
  }
  .contentfiltersbox .filters {
    margin-left: 17px;
    margin-bottom: 17px;
  }
  .contentfiltersbox .filters:nth-child(1) {
    order: 1;
  }
  .contentfiltersbox .filters:nth-child(2) {
    order: 3;
  }
  .contentfiltersbox .filters:nth-child(3) {
    order: 1;
  }
  .contentfiltersbox .filters:nth-child(4) {
    order: 4;
  }
  .filtersbox {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
  }
  .info {
    width: 95%;
    margin-left: 17px;
    margin-top: 12rem;
  }
  .info .icon-container {
    padding: 2px 4px 2px 5px;
  }
  .info p br {
    display: none;
  }
  .filtersbox .text {
    margin: 17px;
  }
  .accommodations {
    width: 100%;
    background: none;
  }
  .accommodations .card-container .card {
    width: 100%;
  }
  .show-more {
    background: none;
  }
  .most-popular {
    width: 100%;
    border-radius: 0;
  }
  .most-popular .card-container .card {
    width: 95%;
    margin: 0 0 30px 8px;
  }
  .activities {
    padding: 23px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  .activitiescontainer .card {
    width: 100%;
    margin-bottom: 30px;
    height: auto;
    padding-bottom: 10px;
  }
  .activitiescontainer .card .imagebox {
    height: 11rem;
  }
  .mixed,
  .mixedtwo {
    width: 100%;
    margin: 0;
    padding-bottom: 30px;
  }
  .mixed .card1,
  .mixed .card2 {
    width: 100%;
    height: auto;
  }
  .mixed .card1 .imagebox,
  .mixed .card2 .imagebox {
    height: 11rem;
  }
  .mixed .card1 .description .hotel-name,
  .mixed .card2 .description .hotel-name,
  .mixedtwo .card1 .description .hotel-name,
  .mixedtwo .card2 .description .hotel-name {
    padding-bottom: 25px;
  }

  .mixedtwo .card1,
  .mixedtwo .card2 {
    width: 100%;
    height: auto;
  }
  .mixedtwo .card1 .imagebox,
  .mixedtwo .card2 .imagebox {
    height: 11rem;
  }
  .mixed .card1 .imagebox .actv-img,
  .mixed .card2 .imagebox .actv-img {
    width: 100%;
  }
  .mixedtwo .card1 .imagebox .actv-img,
  .mixedtwo .card2 .imagebox .actv-img {
    width: 100%;
  }
  footer {
    height: auto;
  }
  .footerbox {
    flex-wrap: wrap;
    padding-bottom: 30px;
    padding-top: 0;
  }
  .footerbox .about,
  .footerbox .our,
  .footerbox .assistance {
    width: 100%;
    height: auto;
    padding: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .wrapper {
    width: 100%;
    max-width: 480px;
  }
  .tophead {
    height: 150px;
    flex-wrap: wrap;
  }
  .logo {
    width: 50%;
  }
  .signup {
    width: 30%;
    margin-top: 28px;
    text-align: right;
    font-weight: normal;
  }
  .signup a,
  .signup a:visited {
    text-decoration: none;
    color: #0065fc !important;
  }
  .new-nav {
    width: 100%;
  }
  .new-nav ul {
    display: flex;
    flex-wrap: wrap;
  }
  .new-nav ul li {
    width: 50%;
    height: auto;
    padding-left: 0;
    text-align: center;
    border-bottom: #f2f2f2 3px solid;
    margin-left: 0;
  }
  .new-nav ul li a {
    padding: 1.5rem 1rem;
  }
  .new-nav ul li:nth-child(1) {
    order: 1;
    border-bottom: none;
  }
  .new-nav ul li:nth-child(2) {
    order: 3;
  }
  .new-nav ul li:nth-child(3) {
    order: 4;
  }
  .new-nav ul li:nth-child(4) {
    order: 2;
    border-bottom: none;
  }
  .new-nav ul li:nth-child(4) a {
    border-bottom: none;
  }
  .new-nav ul li a {
    padding-top: 0;
  }
  .new-nav ul li.active {
    padding-top: 0;
    border-bottom: #0065fc 3px solid;
    font-weight: 600;
  }
  .new-nav ul li.active a {
    color: #0065fc;
    border: none;
  }
  .content {
    flex-direction: column-reverse;
  }
  .searchbox {
    padding: 0;
    height: auto;
  }
  .searchbox p {
    padding-left: 1rem;
    width: 98%;
  }
  .searchbox .info p {
    padding-left: 0;
  }
  .inputsearch {
    width: 100%;
  }
  .btnsearch {
    width: 70px;
    border-radius: 10px;
  }
  .btnsearch i {
    font-size: 1.2rem;
    display: block;
  }
  .btnsearch span {
    display: none;
  }
  .iconsearch {
    width: 70px;
  }
  .contentsearchbox {
    width: 95%;
    padding-left: 1rem;
  }
  .contentfiltersbox {
    display: flex;
    flex-wrap: wrap;
  }
  .contentfiltersbox .filters {
    margin-left: 17px;
    margin-bottom: 17px;
  }
  .contentfiltersbox .filters:nth-child(1) {
    order: 1;
  }
  .contentfiltersbox .filters:nth-child(2) {
    order: 3;
  }
  .contentfiltersbox .filters:nth-child(3) {
    order: 1;
  }
  .contentfiltersbox .filters:nth-child(4) {
    order: 4;
  }
  .filtersbox {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
  }
  .info {
    width: 95%;
    margin-left: 17px;
    margin-top: 12rem;
  }
  .info .icon-container {
    padding: 2px 4px 2px 5px;
  }
  .info p br {
    display: none;
  }
  .filtersbox .text {
    margin: 17px;
  }
  .accommodations {
    width: 100%;
    background: none;
  }
  .accommodations .card-container .card {
    width: 100%;
  }
  .show-more {
    background: none;
  }
  .most-popular {
    width: 100%;
    border-radius: 0;
  }
  .most-popular .card-container .card {
    width: 95%;
    margin: 0 0 30px 8px;
  }
  .activities {
    padding: 23px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  .activitiescontainer .card {
    width: 100%;
    margin-bottom: 30px;
    height: auto;
    padding-bottom: 10px;
  }
  .activitiescontainer .card .imagebox {
    height: 11rem;
  }
  .mixed,
  .mixedtwo {
    width: 100%;
    margin: 0;
    padding-bottom: 30px;
  }
  .mixed .card1,
  .mixed .card2 {
    width: 100%;
    height: auto;
  }
  .mixed .card1 .imagebox,
  .mixed .card2 .imagebox {
    height: 11rem;
  }
  .mixed .card1 .description .hotel-name,
  .mixed .card2 .description .hotel-name,
  .mixedtwo .card1 .description .hotel-name,
  .mixedtwo .card2 .description .hotel-name {
    padding-bottom: 25px;
  }

  .mixedtwo .card1,
  .mixedtwo .card2 {
    width: 100%;
    height: auto;
  }
  .mixedtwo .card1 .imagebox,
  .mixedtwo .card2 .imagebox {
    height: 11rem;
  }
  .mixed .card1 .imagebox .actv-img,
  .mixed .card2 .imagebox .actv-img {
    width: 100%;
  }
  .mixedtwo .card1 .imagebox .actv-img,
  .mixedtwo .card2 .imagebox .actv-img {
    width: 100%;
  }
  footer {
    height: auto;
  }
  .footerbox {
    flex-wrap: wrap;
    padding-bottom: 30px;
    padding-top: 0;
  }
  .footerbox .about,
  .footerbox .our,
  .footerbox .assistance {
    width: 100%;
    height: auto;
    padding: 10px;
  }
}
