*{
  box-sizing: border-box;
}
html,body{
  margin:0;
  padding:0;
}
body {
 font-family: Raleway;
 font-size: 18px;
 color: black;
 background-color:white;
}
.wrapper {
 max-width: 1366px;
 margin:auto;
}
.tophead {
 display: flex;
 width: 100%;
 height: 100px;
} 
.logo {
 width: 60%;
 margin-top: 20px;
}
.new-nav {
 width: 40%;
}
.new-nav ul{
 list-style: none;
 margin: 0;
 padding: 0;
}
.new-nav ul li{
 float: left;
 padding-left: 60px;
}
.new-nav ul li a,
.new-nav ul li a:visited{
 display:block;
 text-decoration: none;
 color: black;
 padding-top: 35px;
}
.new-nav ul li a.active{
 color: #0065FC;
 border-top: #0065FC 2px solid;
}
.new-nav ul li a:hover{
 color:#DEEBFF;
}
.new-nav ul li a.signup{
 color: #0065FC;
 font-weight: 400;
}
.searchbox{
 width: 100%;
 height: 300px;
}
.contentsearchbox{
 display:inline-flex;
 width: 315px;
}
.iconsearch{
 background: #f2f2f2;
 width:50px;
 padding:3px;
 border-radius: 10px 0 0 10px;
 text-align: center;
}
.iconsearch i{
 color:black;
 font-size: 18px;
 padding:10px;
 text-align:center;
} 
.inputSearch{
 font-size: 16px;
 font-weight: 600;
 width:185px;
 height:50px;
 padding-left: 5px;
 border: 1px solid #f2f2f2;
 border-left: none;
}
.btnsearch{
 background: #0065FC;
 font-size: 14px;
 width:80px;
 height:50px;
 padding:3px;
 border-radius: 0 10px  10px 0;
 text-align: center;
 border:none;
 color:white;
 font-weight: 600;
}
.btnsearch:hover{
 background:#DEEBFF;
 cursor: pointer;
}
.filtersbox{
 display:inline-flex;
 width: 100%;
 height: 60px;
 margin-top:30px;
}
.contentfiltersbox{
 display:inline-flex;
 width: 100%;
 height: 60px;
}
.filtersbox .text{
 font-size: 1rem;
 margin: auto;
 padding: 0;
}
.filters{
 border:none;
 margin:0;
 margin-left: 35px;
 padding:0;
 background:none;
}
.filters i{
  font-size: 17px;
 background: #DEEBFF;
 border-radius: 50%;
 color:#0065fc;
 padding:15px;
}
.filters i:hover{
  color:#DEEBFF;
  background: #0065fc;
  box-shadow: lightgrey 0 10px 10px 0;
  cursor:pointer;
}
.filters:nth-child(1) i{
 padding:15px 13px;
}
.filters:nth-child(2) i{
 padding:15px 17px; 
}
.filters span {
 border:2px solid lightgray;
 border-left: none;
 border-radius: 0 35px 35px 0;
 padding:15px 20px 11px 25px;
 margin: -20px;
 font-weight: 600; 
}
.info {
 display:flex;
 width: 100%;
 margin-top: 30px;
}
.info .icon-container{
margin-right: 10px;
 padding: 0 0 0 8px;
 width: 21px;
 height: 21px;
 border: #f2f2f2 2px solid;
 border-radius: 50%;
}
.info i{
 font-size: 12px;
 color: #0065fc;

}
.info p{
 width:450px;
 margin-top: 0px;
}
.content {
 display:flex;
 width: 100%;
}

.accommodations {
 width: 70%;
 height:auto;
 padding: 10px 10px 10px 10px;
 border-radius: 25px;
 background-color:#f2f2f2;
 margin-right: 50px;
}
.accommodations h3 {
 margin-left: 10px;
}
.accommodations a{
 display:contents;
 text-decoration: none;
 color: #000000;
 padding: 0;
 margin:0;
}
.accommodations .card-container {
 display:flex;
 flex-wrap: wrap;
 }
.accommodations .card-container .card {
 width: 30%; 
 padding: 5px;
 background-color:white;
 margin:5px 14px 22px 15px;
 border-radius: 25px;
 box-shadow: lightgray 0 4px 4px 0;
}
.imagebox {
 display:flex;
 height: 125px;
 object-fit: cover;
}
.acc-img{
 width:100%;
 border-radius: 25px 25px 0 0;
}
.description{
 margin:7px 0 0 10px;
}
.hotel-name{
 margin-bottom: 0;
}
.price{
 margin: 8px 0 8px 0;
}
.rating{
 margin-bottom: 7px;
}
.activities-button{
 display: flex;
 width: 100%;
}
.show-more{
 font-size: 1.1em;
 border-width: 0;
 border-style: none;
 font-weight: 400;
 margin: 20px 0 20px 15px;
 cursor: pointer;
}
.most-popular{
 width: 30%;
 height: auto;
 padding: 10px 10px 10px 10px;
 border-radius: 25px;
 background-color:#f2f2f2;
}
.most-popular a{
  text-decoration: none;
  color:black;
 
  }
  .most-popular-header {
    display: flex;
  }
  .most-popular-header h3 {
   width: 100%;
   margin-left: 10px;
  }
  .most-popular-header i {
    width: 20%;
    margin: 1em 0 1em 7em;
    color:black;
  }
.most-popular .card-container{
 display:flex;
 flex-wrap: wrap;
}
.most-popular .card-container .card {
 display:flex;
 width: 90%;
 height: 160px;
 padding: 5px;
 margin: 0 15px 30px 18px;
 background: white;
 border-radius: 25px;
 box-shadow: lightgray 0 4px 4px 0;
 }
.most-popular .card .imagebox{
 height: 140px;
 width: 35%;
}
.most-popular .card .imagebox .pop-img {
border-radius: 25px  0 0 25px;
}
.most-popular .card .description{
width: 60%;
}
.most-popular .card .description .hotel-name,
.most-popular .card .description .price{
  margin: 0 0 25px 0;
}
.fa-star{
 color: #d8d8d8;
}
.checked {
  color: #0065fc;
}
.pop-img {
 width:100%;
 border-radius: 25px 25px 0 0;
 height: 150px;
 object-fit: cover;
}

.activities {
 display: inline-block;
 height:500px;
 margin-top:50px;
}
.activitiescontainer {
 display: inline-flex;
}
.activitiescontainer .card {
 width: 310px;
 height: 450px;
 margin-right: 30px;
 border-radius: 25px 25px 25px 25px;
 box-shadow: lightgrey 0 4px 4px 0;
}
.activitiescontainer .card .imagebox{
  display:flex;
  object-fit:fill;
}
.activitiescontainer .card .description{

 }
.activitiescontainer .card .description .hotel-name{
margin:10px 0 10px 20px;
 }
.activitiescontainer .card .imagebox .actv-img{
 width:100%;
 border-radius: 25px 25px 0 0;
}

.mixed, .mixedtwo {
flex-direction: column;
width: 310px;
margin: 0 30px 30px 0;
}
.mixed .card, .mixedtwo .card{
margin-bottom: 40px;
}
.mixed .card:nth-child(1){
height: 50%;
}
.mixed .card:nth-child(2){
  height: 37.5%;
}
.mixed .card:nth-child(1) .imagebox{
height: 170px;
}
.mixed .card:nth-child(2) .imagebox{
height: 125px;
}
.mixedtwo .card:nth-child(1){
  height: 35%;
}
.mixedtwo .card:nth-child(2){
height: 52.5%;
  }
.mixedtwo .card:nth-child(1) .imagebox{
  height: 175px;
}
.mixedtwo .card:nth-child(2) .imagebox{
height: 150px;
}
footer {
 width: 100%;
 height: 150px;
 background: #f2f2f2;
 margin-top: 25px;
}
.footerbox {
 display: flex;
 width: 100%;
 padding-left: 20px;
}
footer ul{
  margin:0;
  padding: 0;
}
footer li{
  list-style-type: none;
}
footer a{
  text-decoration: none;
  color: black;
}
.about {
 width: 30%;
 height: 70px;
}
.our {
 width: 30%;
 height: 70px;
}
.assistance {
 width: 30%;
 height: 70px;
}
 /* css for less than 480px 
 */
 @media screen and (max-width:480px) {
 
}